.popup-container {
	height: auto;
	width: 240px;
	background: #fff;
	padding: 15px;
}
h1, p {
	padding: 0px;
	margin: 0px;
	color: #404040;
}
h1 {
	font-weight: 400;
	font-size: 140%;
}
p {
	font-style: italic;
}
#bold {
	font-weight: 600;
}
hr {
	height: 1px;
	border: 0;
	background: #d9d9d9;
	margin: 10px 0;
}
.header {
	display: flex;
	align-items: center;
}